<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fts.fts.fitness_tracking_system.mapper.FitnessGoalsMapper">

    <resultMap id="BaseResultMap" type="com.fts.fts.fitness_tracking_system.pojo.FitnessGoals">
            <id property="goalId" column="goal_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="goalType" column="goal_type" jdbcType="VARCHAR"/>
            <result property="goalValue" column="goal_value" jdbcType="DOUBLE"/>
            <result property="actualValue" column="actual_value" jdbcType="DOUBLE"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="progress" column="progress" jdbcType="DOUBLE"/>
            <result property="isNotification" column="is_notification" jdbcType="INTEGER"/>
            <result property="isReminder" column="is_reminder" jdbcType="INTEGER"/>
            <result property="isFlag" column="is_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        goal_id,user_id,goal_type,
        goal_value,actual_value,goal_period,progress
    </sql>
</mapper>
